<div class="container col-lg-6" style="margin-top: 50px; margin-bottom: 100px">
  <h2 class="mb-4">Questionnaire</h2>
  <%= form_with url: '/questionnaires' do |f| %>

    <div class="field mb-3">
      <%= f.label 'What to Eat'  , class:"form-label" %><br/>
      <%=  f.text_field :question_one, autofocus: true,  class:'form-control' %>
    </div>

    <div class="field mb-3">
      <%= f.label 'Location'  , class:"form-label" %><br/>
      <%= f.text_field :question_two, autofocus: true,  class:'form-control' %>
    </div>

    <%= f.submit 'Submit', class:'btn btn-primary' %>
  <% end %>
</div>



<script>

    let autocomplete;

    function initMap(){

        const input_to = document.getElementById('question_two')

        const options = {
            componentRestrictions: { country: "PK" },
            fields: ["address_components", "geometry", "icon", "name"],
            strictBounds: false,
            types: ['locality'],
        };

        autocomplete = new google.maps.places.Autocomplete(input_to, options);
    }

</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdIQygbTt6E8I-idAJtDUiLBYwXAio4dE&libraries=places&callback=initMap">
</script>