<div class="row mx-3"  style="margin-top: 50px">

  <div class="container col-lg-6" >

    <h5 class="mb-4">Add A Review</h5>
    <%= form_with model: @review do |f| %>

      <div class="input-group mb-4">
        <%= f.label 'Restaurant Name', class: 'input-group-text' %>
        <%= f.text_field :restaurant_name, class: 'form-control' %>
      </div>

      <div class="input-group mb-4">
        <%= f.label 'Reviews', class: 'input-group-text' %>
        <%= f.text_area :review, class: 'form-control' %>
      </div>

      <div class="input-group mb-4">
        <%= f.label 'Ratings', class: 'input-group-text' %>
        <%= f.number_field :rating, class: 'form-control' %>
      </div>

      <%= f.label 'Attach Images', class: 'input-group-text mb-1' %>
      <div class="input-group mb-4">
        <%= f.file_field :images, multiple: true, class: 'form-control' %>
      </div>

      <%= f.submit 'Add Review', class: 'btn btn-primary' %>
    <% end %>

    <h4 class="mb-5" style="margin-top: 50px">Food Explorer Feed</h4>
    <%= render 'reviews' %>

  </div>

</div>

<script>

    let autocomplete;

    function initMap() {

        const input_to = document.getElementById('review_restaurant_name')

        const options = {
            componentRestrictions: {country: "PK"},
            fields: ["address_components", "geometry", "icon", "name"],
            strictBounds: false,
            types: ["restaurant"],
        };

        autocomplete = new google.maps.places.Autocomplete(input_to, options);
    }

</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdIQygbTt6E8I-idAJtDUiLBYwXAio4dE&libraries=places&callback=initMap">
</script>
